---
layout: about
title: Blog
header: Blog Posts
group: navigation
---
{% include JB/setup %}

<div class="container">
  <div class="row">
    <ul>
  <div class="container content_body" style="background-color: rgba(255,255,255, .9) !important;">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center"><h2>Blog</h2></div>
	<div style="padding-left: 10px">
	    <hr>
	    <br>
            {% for post in site.posts %}
                <li>
		    <h4>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                    {{ post.excerpt }}
		    </h4>
                </li>
            {% endfor %}
        <br>
        <br>
	</div>
      </div>
    </div>
    </ul>
  </div>
</div>

