/* Custom container */

.welcome_bar {
  background-color: rgba(255,255,255, .9) !important;
  font-size: 40px;
}

.home_nav_bar {
  background-color: rgba(255,255,255, .9) !important;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
}

hr { border-color: #2d2d2d; }

.page-header { border-color: #2d2d2d; }

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* inline-block space fix */
    margin-left:-4px;
}

#home-row {
  display: table-cell;
  vertical-align: middle;
  margin-right: -15px;
  margin-left: -15px;
}

.fa {
  padding: 05px;
}

.vcenter {
  margin:0 auto;
  float: none;
}

.fa {
  color: #2d2d2d;
}

.navbar-default {
    background-image: none;
    background-color: rgba(255, 255, 255, .6);
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #2d2d2d !important;
}

.navbar-default .navbar-toggle {
  border-color: #2d2d2d !important;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: white !important;
  border-color: #2d2d2d;
}

.navbar-default .navbar-toggle:hover {
  background-color: #2d2d2d !important;
}

.active {
  background-color: rgba(255,255,255, 0) !important;
  background-image: none !important;
  color: black !important;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  border-radius: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #2d2d2d !important;
  font-size: 20px;
}
.navbar-default .navbar-nav > li > a {
  color: #2d2d2d !important;
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black !important;
}

.navbar-brand {
  color: #2d2d2d !important;
  font-size: 25px;
}

.navbar-toggle {
  color: #2d2d2d !important;
}

.navbar-nav {
  color: black !important;
}

body {
    background-color: black;
    background: url(img/nebula.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.content_body {
  background-color: white;
  border-radius: 10px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

/* Typed.js stuff */
.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#headshot_image {
  background-color: rgba(255,255,255, .6) !important;  
  max-height: auto;
  max-width: 25%;
  border:10px solid #FFFFFF;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

@media only screen and (max-width : 767px) {
  #headshot_image {
    background-color: #FFFFFF;
    max-height: auto;
    max-width: 75%;
    border:10px solid #FFFFFF;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
  }
}
